<div class="headerDay">
    <div >
        <h3>{{weekdays[day.getDay()-1]}}    {{day | date: 'dd.MM.yy'}}</h3>
    </div>
</div>
<div *ngFor="let homework of homeworks">
    <div *ngIf="day.getFullYear() == convertToDate(homework.dueDate.toString()).getFullYear()  &&  day.getDate() == convertToDate(homework.dueDate.toString()).getDate()  &&  day.getMonth() == convertToDate(homework.dueDate.toString()).getMonth()">
        <button class="homework"  >
            <p>{{homework.fach}}</p>
            <p>{{homework.description}}</p>
            <p>{{homework.done}}</p>
        </button>
    </div>
</div>