.invisible{
    display: none;
}
.registrierenLink{
    border-width: 0px;
    background-color:rgba(220,160,140,0);
    color: #04ba8d;
}
.registrierenLink:hover{
    color:#002d22;
}
.containerWeek{
    display: grid;
    grid-template-rows: auto ;
    grid-template-columns: 50px auto 50px ;
}
.last , .next{
    background-color:#04ba8d;
}
body {
    background-color:#4dbe94;
}
.containerMain{
    display: grid;
    grid-row: 7% auto 3%;
    gap: 12px;
}
textarea{
    resize: none;
}
.flexContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 30px;
}
.flexContainer :nth-child(0), .flexContainer :nth-child(1){
margin: 20px;
}
.headerMain{
    min-height: 100px;
    grid-row-start: 1;
    grid-row-end: 2;
    border-radius: 3px;
    display: grid;
    border:2px solid;
    border-color:rgb(129, 135, 130);
    display : grid;
    grid-column: 50%  50%;
    grid-row: auto;
    gap: 9px;
}
.mainMain{
    grid-row-start: 2;
    grid-row-end: 3;
    border-radius: 10px;
    border:2px solid;
    border-color:rgb(129, 135, 130);
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: auto auto auto;
    grid-gap:10px;
    justify-content: center;
}
.footerMain{
    min-height: 50px;
    grid-row-start: 3;
    grid-row-end: 4;
    border-radius: 5px;
    border: 2px solid;
    border-color:rgb(129, 135, 130);
    display: flex;
}
.navigation{
    grid-column-start: 2;
    grid-column-end: 3;
}
.buttonNav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 25px;
}
.navigationButton{
    background-color:rgb(78, 119, 91);
    border-radius: 8px;
    width: 25%;
    min-width: 100px;
    height: 75px;
    text-align: center;
    font-size: 20px;
    color:aliceblue;
}
.navigationButton:hover{
    background-color: lightgreen;
}
.titel{
    margin: 20px;
    text-align: center;
}
.footerText{
    flex-grow: 1;
    size: 50%;
    text-align: center;
}
.homework{
    border-color:#04ba8d;
    border-radius:10px;
    width: 100%;
    display: grid;
    grid-template-columns: 30% 50% 20%;
    background-color:#05fabd;
}
.headerDay{
    display: flex;
}
.PopUp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.buttonPopup{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 25px;
    justify-content: center;
}


@media only screen and (min-height: 425px){
	.mainMain{
        min-height: 370px;
    }
}
@media only screen and (min-height: 600px){
	.mainMain{
        min-height: 550px;
    }
}
@media only screen and (min-height: 800px){
	.mainMain{
        min-height: 750px;
    }
}
@media only screen and (min-height: 1000px){
	.mainMain{
        min-height: 850px;
    }
}
@media only screen and (min-height: 1200px){
    .mainMain{
        min-height: 1150px;
    }
}