<div class="containerMain">
  <header class="headerMain">
    <div class="titel">
      <h1>Kalender Woche: {{week}}</h1>
    </div>
    <nav class="navigation">
      <div class="buttonNav">
        <button class="navigationButton">Sign In</button>
        <button class="navigationButton">Sigin Up</button>
        <button class="navigationButton">add</button>
        <button class="navigationButton">Edit</button>
      </div>
    </nav>
  </header>
  <main class="mainMain" >
      <app-day type="date" [day]="monday"></app-day>
      <app-day type="date" [day]="tuesday"></app-day>
      <app-day type="date" [day]="wednesday"></app-day>
      <app-day type="date" [day]="thursday"></app-day>
      <app-day type="date" [day]="friday"></app-day>
      <app-day type="date" [day]="weekend"></app-day>

  </main>
  <footer class="footerMain">
    <div class="footerText">
      <p>Developed by Aurel Schmid</p>
    </div>
    <div  class="footerText">
      <p>Version 0.5</p>
    </div>
  </footer>
</div>