<div class="containerMain">
  <header class="headerMain">
    <div class="titel">
      <h1>Kalender Woche: </h1>
    </div>
    <nav class="navigation">
      <div class="buttonNav">
        <button class="navigationButton">Sign In</button>
        <button class="navigationButton">Sigin Up</button>
        <button class="navigationButton">add</button>
        <button class="navigationButton">Edit</button>
      </div>
    </nav>
  </header>
  <main class="mainMain"></main>
  <footer class="footerMain">
    <div>
      <p>Developed by Aurel Schmid</p>
    </div>
    <div>
      <p>Version 0.5</p>
    </div>
  </footer>
</div>